@import "tailwindcss";

@theme {
  --color-primary: #8B4513,
  --color-secondary: #D2691E,
}

/* Custom scrollbar styles */
.scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #8B4513;
    border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track{
    background-color: #F5E6D3;
}

@layer components {
    .input-box {
        @apply w-full text-sm bg-[#F5E6D3] rounded-sm px-5 py-3 mb-4 outline-none
    }

    .btn-primary {
        @apply w-full text-sm font-medium text-[#F5E6D3] bg-[#8B4513] shadow-lg shadow-[#D2691E]/20 p-[10px] rounded-full my-1 hover:bg-[#D2691E] hover:text-[#F5E6D3]
    }

    .btn-light {
        @apply bg-[#F5E6D3] text-[#8B4513] shadow-[#D2691E]/0 border-[#D2691E] hover:bg-[#8B4513] hover:text-[#F5E6D3]
    }

    .login-ui-box {
        @apply w-80 h-[450px] rounded-full bg-[#8B4513] absolute rotate-45
    }

    .icon-btn {
        @apply text-[22px] text-[#D2691E] cursor-pointer hover:text-[#8B4513]
    }

    .btn-small {
        @apply flex items-center gap-1 text-xs font-medium bg-[#F5E6D3] text-[#8B4513] shadow-[#D2691E]/0 border border-[#D2691E] hover:bg-[#8B4513] hover:text-[#F5E6D3] rounded-sm px-3 py-[3px];
    }
    
    .btn-delete {
        @apply bg-red-50 text-red-800 shadow-red-100/0 border border-red-200 hover:bg-red-800 hover:text-[#F5E6D3]
    }

    .input-label {
        @apply text-xs text-[#8B4513]/70
    }
}
